# Reader PC startup config.
# Set KAFKA_BROKERS to the server IP printed by START_SERVER_JAVA.sh or START_SERVER_PM2.sh.
KAFKA_BROKERS=SERVER_IP:9092

STATION_ID=A01
READER_ID=A01-PC-01

READER_HEARTBEAT_MS=10000
INSERT_CARD_DELAY_MS=500
READ_TIMEOUT_MS=5000
ENABLE_DEMO_COMMANDS=false
