NODE_ENV=development
KAFKA_BROKERS=localhost:9092

BACKEND_PORT=3001
BACKEND_HOST=0.0.0.0
ALLOWED_STATION_IDS=A01
CORS_ALLOWED_ORIGINS=
SCAN_REQUEST_TTL_SECONDS=90
STATION_COOLDOWN_MS=3000
QUEUED_REQUEST_MAX_AGE_SECONDS=300
RESULT_AUTO_CLEAR_SECONDS=120
MAX_QUEUE_DEPTH_PER_STATION=10
SCAN_REQUEST_RATE_LIMIT_WINDOW_MS=60000
SCAN_REQUEST_RATE_LIMIT_MAX=20

STATION_ID=A01
READER_ID=A01-PC-01
READER_HEARTBEAT_MS=10000
INSERT_CARD_DELAY_MS=500
READ_TIMEOUT_MS=5000

NURSE_WEBAPP_PORT=3000
STATION_DISPLAY_PORT=3002
VITE_BACKEND_URL=http://localhost:3001
VITE_STATION_ID=A01
VITE_NURSE_ID=unassigned-nurse
VITE_RESULT_AUTO_CLEAR_SECONDS=120
